DATABASE_URI=host=<> port=<> user=<> password=<> dbname=<> sslmode=disable
INNER_ACCRUAL_SYSTEM_PORT=
OUTER_ACCRUAL_SYSTEM_PORT=
ACCRUAL_SYSTEM_ADDRESS=http://accrual-system:8080 (http://<название контейнера>:INNER_ACCRUAL_SYSTEM_PORT)

TOKEN_EXP=<минуты>
SECRET_KEY=
APP_HOST=
INNER_APP_PORT=
OUTER_APP_PORT=

DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=gophermart-db (название контейнера)
OUTER_DB_PORT=
INNER_DB_PORT=
DEBUG=
UPLOAD_MECHANICS=

TEST_DB_USER=
TEST_DB_PASSWORD=
TEST_DB_NAME=
TEST_DB_HOST=
TEST_OUTER_DB_PORT=
TEST_INNER_DB_PORT=