DATABASE_URI=host=localhost port=5432 user=postgres password=postgres dbname=gophermart sslmode=disable
ACCRUAL_SYSTEM_ADDRESS=localhost:8080
TEST_DB_USER=test
TEST_DB_PASSWORD=test
TEST_DB_NAME=gophermart_test
TEST_DB_HOST=localhost
TEST_DB_PORT=5432